<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="OracleConnectionString" value="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=Citrix)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PRIOR)))" />

    <add key="MySql_FullConnString" value="server=localhost;database=migration;user id=sbadgley;password=2010Camaro!ZL1UPED" />

    <!--<add key="MySQL_ServerName" value="localhost" />
    <add key="MySql_Database" value="migration" />
    <add key="MySql_Port" value="3306" />
    <add key="MySql_UserID" value="sbadgley" />
    <add key="MySql_Password" value="2010Camaro!ZL1UPED" />-->
  </appSettings>
  
  <system.data>
      <DbProviderFactories>
          <remove invariant="Oracle.ManagedDataAccess.Client"/>
          <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
              type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      </DbProviderFactories>
  </system.data>
  <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
              <publisherPolicy apply="no"/>
              <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
              <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
          </dependentAssembly>
      </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
      <version number="*">
          <dataSources>
              <dataSource alias="OracleSourceConnString"
                  descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            <dataSource alias="SampleDataSource"
                descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
          </dataSources>
      </version>
  </oracle.manageddataaccess.client>
</configuration>